.bg-color {
  background-color: rgb(1 20 35);
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 1500px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "bp bp bp bp bp bp bp bp";
  width: 100%;
  height: 100%;
}

.header {
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hd {
  background-color: acqua;
  margin: 50px;
  padding: 10px;
  font-size: 20px;
}

a:link,
a:visited {
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  color: inherit;
}

.blogposts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: bp;
  font-size: 20px;
}

.bp {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 2rem;
}

.bp-a:link,
.bp-a:visited {
  color: black;
}

/* Tablet styles */
@media (max-width: 900px) and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "bp";
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 20px;
    padding: 10px;
    font-size: 25px;
  }

  .blogposts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 25px;
  }

  .bp {
    width: 90%;
    margin: 20px;
    border-radius: 1rem;
  }
}

/* Mobile styles */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "bp";
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
  }

  .blogposts {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .bp {
    width: 90%;
    margin: 10px;
    border-radius: 1rem;
  }
}
