.bg-color {
  background-color: rgb(1 20 35);
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 800px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "info info info info info info info info";
  border: 2px solid yellow;
  width: 100%;
  height: 100%;
}

.header {
  /* background: aqua; */
  grid-area: hd;
  display: flex;
  /* grid-template-columns: repeat(4, 50px); */
  /* grid-template-rows: 1fr; */
  align-items: center;
  justify-content: center;
}

.hd {
  background-color: acqua;
  border: 2px solid yellow;
  margin: 50px;
  padding: 10px;
  font-size: 30px;
}

a:link,
a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
  grid-template-areas: "about contact";
  border: 2px solid red;
  /* width: 100%; */
  /* height: 100%; */
  grid-area: info;
}

.info-about {
  border: 2px solid green;
  grid-area: about;
  font-size: 30px;
}

.info-about a {
  color: #007bff; /* Color of the link */
  text-decoration: none; /* Remove underline */
}

.info-about a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.info-contact {
  border: 2px solid pink;
  grid-area: contact;
  display: grid;
  grid-auto-rows: 200px 200px 200px;
}

.contact-hd {
  display: flex;
  justify-items: center;
  align-items: center;
}

.contact-box {
  margin: 20px;
  /* background-color: lightgray; */
  /* display: flex; */
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 50px; */
  /* padding: 10px; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 3px solid gray;
  /* color: black; */
  /* border-radius: 2rem; */
}

.contact-box.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-box.email a {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.contact-box.email a:hover {
  text-decoration: underline;
}

.contact-box.linkedin,
.contact-box.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkedin-logo,
.github-logo {
  display: flex;
  justify-content: center;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 1em;
}

/* .email { */
/*   font-size: 30px; */
/*   padding: 10px; */
/*   align-items: center; */
/*   justify-items: center; */
/* } */
/**/
/* .email input, */
/* .email textarea { */
/*   margin-bottom: 15px; */
/*   padding: 10px; */
/*   border: 1px solid #ccc; */
/*   border-radius: 4px; */
/* } */
/**/
/* .email button { */
/*   padding: 10px; */
/*   border: none; */
/*   background-color: #007bff; */
/*   color: white; */
/*   border-radius: 4px; */
/*   cursor: pointer; */
/* } */
/**/
/* .email button:hover { */
/*   background-color: #0056b3; */
/* } */
