.bg-color {
  background-color: rgb(1 20 35);
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 200px 600px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "intro intro intro intro intro intro intro intro"
    "bp bp bp bp bp bp bp bp"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid yellow;
  width: 100%;
  height: 100%;
}

.box {
  border: 1px solid red;
}

.header {
  /* background: aqua; */
  grid-area: hd;
  display: flex;
  /* grid-template-columns: repeat(4, 50px); */
  /* grid-template-rows: 1fr; */
  align-items: center;
  justify-content: center;
}

.hd {
  background-color: acqua;
  border: 2px solid yellow;
  margin: 50px;
  padding: 10px;
  font-size: 30px;
}

a:link,
a:visited {
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
}

.intro {
  /* background: mistyrose; */
  grid-area: intro;
  display: flex;
  align-items: center;
  font-size: 40px;
  /* border: 2px solid #ccc; */
  padding: 10px;
  border-radius: 10px;
  max-width: 600px;
}

.profile-pic {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image round */
  margin-right: 15px; /* Space between image and text */
}

.profile-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: right;
}

.profile-info-text {
  font-size: 25px;
  border: 2px solid yellow;
  display: flex;
  justify-content: right;
}

.blogposts {
  /* background: lawngreen; */
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-area: bp;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.postbox {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 50px;
  /* padding: 10px; */
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  color: black;
  border-radius: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* bottom: 10px; */
  /* width: 100%; */
  grid-area: ft;
}

.github-logo,
/* .email-logo , */
.linkedin-logo {
  display: flex;
  justify-content: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 60%; /* Makes the image round */
}
