.bg-color {
  background-color: rgb(1 20 35);
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 200px 1000px 100px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "intro intro intro intro intro intro intro intro"
    "bp bp bp bp bp bp bp bp"
    "ft ft ft ft ft ft ft ft";
  width: 100%;
  height: 100%;
}

.header {
  /* background: aqua; */
  grid-area: hd;
  display: flex;
  /* grid-template-columns: repeat(4, 50px); */
  /* grid-template-rows: 1fr; */
  align-items: center;
  justify-content: center;
}

.hd {
  background-color: acqua;
  margin: 50px;
  padding: 10px;
  font-size: 25px;
}

a:link,
a:visited {
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  color: inherit;
}

.intro {
  grid-area: intro;
  /* align-items: center; */
  /* font-size: 40px; */
  /* padding: 10px; */
  /* border-radius: 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pic subs";
}

.intro-prof-info {
  grid-area: pic;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img txt";
}

.intro-prof-info-img {
  grid-area: img;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.profile-pic {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image round */
  margin-right: 15px; /* Space between image and text */
  margin-top: 20px;
}

.intro-prof-info-txt {
  grid-area: txt;
  /* display: flex; */
  /* justify-items: center; */
  /* align-items: center; */
  font-size: 20px;
}

.intro-prof-subs {
  grid-area: subs;
  font-size: 20px;
}

.subsc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-items: center;
}

.subsc input,
.subsc textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
}

.subsc button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.email button:hover {
  background-color: #0056b3;
}

/* .profile-info { */
/*   display: flex; */
/*   flex-direction: column; */
/*   font-size: 20px; */
/*   align-items: center; */
/*   justify-content: right; */
/* } */

/* .profile-info-text { */
/*   font-size: 25px; */
/*   display: flex; */
/*   justify-content: right; */
/* } */

.blogposts {
  display: grid;
  position: relative;
  width: 100%;
  height: 800px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-area: bp;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.postbox {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 50px;
  /* padding: 10px; */
  background-color: white;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* bottom: 10px; */
  /* width: 100%; */
  grid-area: ft;
}

.github-logo,
/* .email-logo , */
.linkedin-logo {
  display: flex;
  justify-content: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 60%; /* Makes the image round */
}

@media (max-width: 900px) and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "intro"
      "bp"
      "ft";
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 20px;
    padding: 10px;
    font-size: 25px;
  }

  .intro {
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "subs";
  }

  .intro-prof-info {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "txt";
  }

  .intro-prof-info-img {
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 90px;
    height: 90px;
  }

  .intro-prof-info-txt {
    text-align: center;
    font-size: 18px;
  }

  .intro-prof-subs {
    font-size: 18px;
    text-align: center;
  }

  .subsc {
    flex-direction: column;
  }

  .blogposts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: auto;
  }

  .postbox {
    width: 80%;
    margin: 20px auto;
    border-radius: 1rem;
  }

  .text {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
  }

  .footer {
    flex-direction: column;
  }

  .github-logo,
  .linkedin-logo {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "intro"
      "bp"
      "ft";
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 10px;
    padding: 5px;
    font-size: 25px;
  }

  .intro {
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "subs";
  }

  .intro-prof-info {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "txt";
  }

  .intro-prof-info-img {
    justify-content: center;
    margin-bottom: 15px;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  .intro-prof-info-txt {
    text-align: center;
    font-size: 18px;
  }

  .intro-prof-subs {
    font-size: 18px;
    text-align: center;
  }

  .subsc {
    flex-direction: column;
  }

  .blogposts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: auto;
  }

  .postbox {
    width: 100%;
    margin: 10px;
    border-radius: 1rem;
  }

  .text {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
  }

  .footer {
    flex-direction: column;
  }

  .github-logo,
  .linkedin-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}
