.postbox {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 2rem;
}

.postbox-a:link,
.postbox-a:visited {
  color: black;
}
