.postbox {
  display: flex;
  width: 600px; /* Increased by 20% from 500px */
  /* height: 400px; */
  padding: 30px;
  /* background-color: white; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  border: 2px solid yellow;
}

.postbox-image,
.postbox-image-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px; /* Increased by 20% from 150px */
  height: 180px; /* Increased by 20% from 150px */
  object-fit: cover;
  border: 2px solid green;
}

.postbox-image-caption {
  margin: 10px;
}

.postbox-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: beige;
}

.postbox-content h3 {
  margin: 0;
  font-size: 28.8px; /* Increased by 20% from 24px */
}

.postbox-content p {
  margin: 5px 0;
  font-size: 19.2px; /* Increased by 20% from 16px */
  color: #666;
  color: beige;
}

.read-more-btn {
  padding: 12px 24px; /* Increased by 20% from 10px 20px */
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 19.2px; /* Increased by 20% from 16px */
  border-radius: 5px;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #0056b3;
}
