.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1000px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "info info info info info info info info";
  width: 100%;
  height: 100%;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "about"
    "contact";
  grid-area: info;
}

.info-about {
  padding: 20px;
}

.info-about a {
  color: peru;
  text-decoration: none;
}

.text-intro,
.text-work {
  font-size: 20px;
}

.info-about a:hover {
  text-decoration: underline;
}

.info-contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.contact-box {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.contact-box.email,
.contact-box.github,
.contact-box.linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.contact-box.email a {
  margin-top: 10px;
}

.contact-box.email a:hover {
  text-decoration: underline;
}

.linkedin-logo,
.github-logo {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 1em;
}
