@import url("core.css");

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "hd"
    "bp"
    "ft";
  width: 100%;
  box-sizing: border-box;
}

.header {
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.hd {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
}

a:link,
a:visited {
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
}

.blogposts {
  grid-area: bp;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

/* Tablet styles */
@media (max-width: 900px) and (min-width: 600px) {
  .container {
    grid-template-rows: auto auto;
  }

  .header {
    padding: 10px;
  }

  .hd {
    margin: 20px;
    padding: 10px;
    font-size: 25px;
  }

  .blogposts {
    margin: 20px;
    font-size: 20px;
    padding: 20px;
  }
}

/* Mobile styles */
@media (max-width: 600px) {
  .container {
    grid-template-rows: auto auto;
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .hd {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
  }

  .blogposts {
    margin: 10px;
    font-size: 20px;
    padding: 10px;
  }

  h1,
  p {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }
}
