@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "postbox";
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
  }

  .blogposts {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .postbox {
    width: 90%;
    margin: 10px;
    border-radius: 1rem;
  }
}
