@media (max-width: 1200px) and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd hd hd "
      "postbox postbox postbox ";
  }

  .header {
    /* flex-direction: column; */
    grid-area: hd;
  }

  .hd {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
  }

  .blogposts {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 25px;
  }

  .postbox {
    width: 90%;
    margin: 20px;
    border-radius: 1rem;
  }
}
