@media (max-width: 900px) and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 20px;
    padding: 10px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "subs";
  }

  .intro-prof-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "txt";
  }

  .intro-prof-info-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 90px;
    height: 90px;
  }

  .intro-prof-info-txt {
    text-align: center;
  }

  .intro-prof-subs {
    text-align: center;
  }

  .subsc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subsc input,
  .subsc textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
  }

  .subsc button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #007bff;
  }

  .blogposts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: auto;
    justify-items: center;
  }

  .postbox {
    width: 80%;
    margin: 20px auto;
    border-radius: 1rem;
  }

  .text {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .github-logo,
  .linkedin-logo,
  .email-logo {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
}
