@media (max-width: 900px) and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "intro"
      "bp"
      "ft";
  }

  .header {
    flex-direction: column;
  }

  .hd {
    margin: 20px;
    padding: 10px;
    font-size: 25px;
  }

  .intro {
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "subs";
  }

  .intro-prof-info {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "txt";
  }

  .intro-prof-info-img {
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 90px;
    height: 90px;
  }

  .intro-prof-info-txt {
    text-align: center;
    font-size: 18px;
  }

  .intro-prof-subs {
    font-size: 18px;
    text-align: center;
  }

  .subsc {
    flex-direction: column;
  }

  .blogposts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    height: auto;
  }

  .postbox {
    width: 80%;
    margin: 20px auto;
    border-radius: 1rem;
  }

  .text {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
  }

  .footer {
    flex-direction: column;
  }

  .github-logo,
  .linkedin-logo {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
}
