@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
  }

  .hd {
    text-align: center;
    margin: 10px;
    padding: 5px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .intro-prof-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .intro-prof-info-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .intro-prof-info-txt {
    text-align: center;
    margin: 10px 0;
  }

  .intro-prof-subs {
    text-align: center;
    margin: 10px 0;
  }

  .subsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .subsc input,
  .subsc textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
  }

  .subsc button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #007bff;
  }

  .blogposts {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .postbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .postbox-image,
  .postbox-image-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 8px;
  }

  .postbox-image-caption {
    text-align: center;
    margin-top: 20px;
  }

  .postbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    padding: 20px;
  }

  .postbox-content h3 {
    margin: 10px 0;
  }

  .postbox-content p {
    margin: 5px 0;
    color: beige;
  }

  .read-more-btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .read-more-btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #007bff;
  }

  .read-more-btn:hover {
    background-color: #0056b3;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }

  .github-logo,
  .linkedin-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}
