.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "hd"
    "bp"
    "ft";
  width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}
